<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>
        BMR Calculator
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="text-align: center;">
    <ion-toolbar>
      <ion-title>BMR Calculator</ion-title>
    </ion-toolbar>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-radio-group [(ngModel)]="Gender">
          <ion-item>Gender:
            <ion-col>
              Male<ion-radio value="Male"></ion-radio>
            </ion-col>
            <ion-col>
              Femal<ion-radio value="Female"></ion-radio>
            </ion-col>
          </ion-item>
        </ion-radio-group>
        <ion-item>
          <ion-input label="Age: " [(ngModel)]="Age" type="number" [clearInput]="true" placeholder="Age (Years)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Weight: " [(ngModel)]="Weight" type="number" [clearInput]="true" placeholder="Enter weight (kg)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Height: " [(ngModel)]="Height" type="number" [clearInput]="true" placeholder="Enter height (cm)"></ion-input>
        </ion-item>
        <br><br>
        <div style="text-align: center;">
          <ion-button id = 'ies-alert' (click)="Calr()">Calculate</ion-button>
          <ion-button name="person-add-outline"  [routerLink]="'/tabs/tab1'">BMI</ion-button>
          <ion-button name="person-add-outline"  [routerLink]="'/tabs/tab3'">About Me</ion-button>

          <ion-alert trigger="ies-alert" header="BMR" message="Your BMR is {{Bmrkcal}}"
          [buttons]="alertButton"></ion-alert>


          
        </div><br>
        <div style="text-align: center;">
          <h1>Your BMR is {{Bmrkcal}} kcal</h1>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>